<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>

    <body>
        <header>
        </header>
        <nav>
            <h1>The Pages of Yore! 📜</h1>
            <a href="/">Home 🏰</a>
            <a href="/add">Add 🪶</a>
            <a href="/about">About ❔</a>
        </nav>
        <main>
            <section class="center">
                <h1 class="headline-h1">About The Pages of Yore! 👨‍💻</h1>
                <br>
            </section>
            <section class="grid-container">
                <div class="outer drop">
                    <div class="inner">Go</div>
                </div>
                <div class="outer glow">
                    <div class="inner">HTML</div>
                </div>
                <div class="outer inset">
                    <div class="inner">CSS</div>
                </div>
            </section>
        </main>
        <footer>
            <p>Powered by <a href='https://golang.org/'>Go 🚲</a></p>
        </footer>
    </body>

</html>

